/* Theme Container */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: var(--width-container);
  width: 100%;
  --width-container: 1000px;
}

@media (max-width: 1024px) {
  .container {
    --width-container: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    --width-container: 100%;
  }
}

/* Columns */
.col-auto {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.col-fit {
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.col-wide {
  grid-column: 1 / -1;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

/*
.gap-20 {
  grid-gap: 20px;
}
*/

@media (max-width: 1024px) {
  .col-md-1 {
    grid-template-columns: 1fr !important;
  }

  .col-md-2 {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .col-md-3 {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .col-md-4 {
    grid-template-columns: repeat(4, 1fr) !important;
  }

/*
  .gap-md-20 {
    grid-gap: 20px;
  }
*/
}

@media (max-width: 768px) {
  .col-sm-1 {
    grid-template-columns: 1fr !important;
  }

  .col-sm-2 {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .col-sm-3 {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .col-sm-4 {
    grid-template-columns: repeat(4, 1fr) !important;
  }

/*
  .gap-y-sm-20 {
    grid-gap: 20px 0;
  }
*/
}